.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main {
  padding-top: 84px;
  flex: 1 0 auto;
}

@media screen and (max-width: 680px) {
  .main {
    padding-top: 67.8px;
    flex: 1 0 auto;
  }
}
